div.postContainer {
  background-color: white;
  border-radius: 6px;
  padding: 25px;
  margin: 4% 0;
  box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.1);

  div.comment {
    margin-top: 20px;

    p {
      font-size: 14px;
      margin: 0;
    }
  }
}
